
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00bcdd;
    color: white;
    height: 50px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
    position: sticky;
  top: 0;
  z-index: 1000;
  }
  
  .banner a {
    color: #0c3a98;
    margin-left: 20px;
    text-decoration: underline;
  }
  
  
  .banner p{
    color: #0c3a98;
    font-size: 22px;
  }

  
  

.header {
  height: 75px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-right: 0;
  }
  
  .logo-text {
    font-size: 0.8em; /* Ajusta el tamaño de la fuente según sea necesario */
  }
  .navigation {
    display: flex;
    justify-content: center;
    flex-grow: 2; 
    padding: 0;
  }
  .navigation a {
    text-decoration: none;
    color: #0c3a98;
    white-space: nowrap; /* Evita que los enlaces se envuelvan en múltiples líneas */
    margin-right: 40px;
    font-family: 'Gilroy-Light', sans-serif;
     font-weight: 300;   
     font-size: 17px;
  }
  .navigation a:hover{
    color: #ee9880;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
  }
  
  
  .btnsContainer{
    display: flex;
    margin-right: 50px;
    margin-left: 0;
  }

  
  
 
  .llamanos {
    height: 52px;
    width: 145px;
    margin-right: 5px;
  border: solid 1px;
  color: #00309e;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-color: #005ea9;
  }
  .llamanos:hover{
    background-color: #00309e;
    color: white;
    border-color: white;
    border: solid 1px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
  }
  .Agenda{
    height: 52px;
    width: 145px;
    background-color: #00309e;
    color: white;
    text-align: center;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  }
  .Agenda:hover{
    background-color: white;
    color:#00309e;
    border-color: #00309e;
    border: solid 1px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
    
  }
  .menuItem {
    position: relative;
    display: inline-block;
  }
  
  .menuItem:hover .dropdownMenu {
    display: block;
  }


  .abrirMenu ,
  .esconderMenu{
    font-size: 30px;
    cursor: pointer ;
    display: none;
    transition: 0.4s;
    color: black;
  }
  .abrirMenu{
    order: 1;
  }
  #check{
    display: none;
  }

  
@media (max-width: 760px) {
  .header{
    display: flex;
    justify-content: space-between;
  }
  .logoContainer{
    margin: 0;
    margin-left: 10px;
    padding: 0 0 ;
  }
  .navigation{
    display: none;

  }
  .btnsContainer{
    display: none;
  }
  .banner p, .banner a{
    font-size: 18px;
  }
  .iconMenuOpen{
    color: black;
    font-size: 35px;
    margin-right: 25px;
  }
}
