@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
.experience{
    padding-top: 30px;
    background-color: #f0f4f8;
}
.tituloExperiencia{
    background-color: #f0f4f8;
    padding-top: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #00309e;
}
.tituloExperiencia h2{
    font-family: 'Gilroy-Light', sans-serif;
    font-weight: 300;
    font-size: 32px;
    font-style: normal;
}