
.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espacio arriba de la imagen */
    border-radius: 25px 25px 25px 25px ;
  }
  
  /* Ajustes para que la imagen sea responsive */
  @media (max-width: 760px) {
    .imageContainer {
      margin-top: 10px;
      height: 600px;
    }
    .ImageDentalia{
      height: 600px;
      width: 100%;
    }
  }
  